.SignIn-icon {
    width: 31px;
    position: relative;
    height: 31px;
    object-fit: cover;
}
.sign-in {
    width: 68px;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
}
.SignIn-btn {
    display: flex;
    height: 35px;
    font-weight: 700;
    font-size: .9rem;
    font-family: inter;
    position: relative;
    border-radius: 56px;
    background-color: #1ebba3;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    box-sizing: border-box;
    gap: 10px;
    text-align: right;
    font-size: 16px;
    color: #000;
    border-width: 0;
}

body{
    overflow-x: hidden
    
}
.navbar{
    text-transform: ercase;
    font-weight: 700;
    font-size: .9rem;
    background-color: rga(0, 0, 0, 0.6) !important;
}
.navbar-logo img{
    height: 32px;
}
.navbar-nav li{
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}
.navbar-dark .navbar-nav  .nav-link{
    color: white;
    padding-top: 15px;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
    color: #1ebba3;
}